---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { Icon } from "astro-icon";

const contact = [
    {
        name: "Github",
        link: "https://github.com/AyushSehrawat",
    },
    {
        name: "Linkedin",
        link: "https://www.linkedin.com/in/ayushsehrawat",
    },
    {
        name: "Twitter",
        link: "https://twitter.com/mini5183",
    },
    {
        name: "Discord",
        link: "https://discordapp.com/users/727365670395838626",
    },
];
---

<Layout title="Ayush Sehrawat">
    <Navbar />
    <main
        class="p-10 flex flex-col items-start font-varela-round text-chocolatey"
    >
        <div
            class="flex items-center gap-8 justify-center w-full fade-in-element"
        >
            <img src="/mini.webp" class="rounded-3xl w-28 h-28" />
            <div class="flex flex-col gap-4">
                <h1 class="text-5xl">
                    Hi, I'm <span class="decoration-wavy underline">Ayush</span>
                    -
                </h1>
                <p class="text-4xl">Full Stack Developer</p>
            </div>
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
        <div class="fade-in-element">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam a
            quibusdam, voluptatem, quod voluptate quia voluptas, quos
            voluptatibus quae doloribus quas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quisquam a quibusdam, voluptatem, quod
            voluptate quia voluptas, quos voluptatibus quae doloribus quas.
        </div>
    </main>
    <footer class="fade-in-element bottom-0">hello</footer>
</Layout>

<script>
    // Import GSAP modules
    const { gsap } = window;

    // Import the ScrollTrigger plugin
    const { ScrollTrigger } = window;

    // Register the ScrollTrigger plugin
    gsap.registerPlugin(ScrollTrigger);

    // Select all the elements to be faded in
    const fadeElements = document.querySelectorAll(".fade-in-element");

    // Iterate over the elements
    fadeElements.forEach((element) => {
        // Create a new timeline for each element
        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: element,
                start: "top 80%", // Trigger the animation when 80% of the element is visible
            },
        });

        // Add animation to the timeline
        tl.fromTo(element, { opacity: 0 }, { opacity: 1, duration: 0.5 });
    });
</script>
